<section class="blog-post section-header-offset">

  <div class="blog-post-container container">

    <div class="blog-post-data">
      <h3 class="title blog-post-title"><%=@blog_post.title %></h3>

      <div class="article-data">

        <span><%=@blog_post.published_at %></span>
        <span class="article-data-spacer"></span>
        <span>estimated read time</span>

        <% if current_user&.admin? %>
          <span class="article-data-spacer"></span>
          <%= link_to "Edit post", edit_blog_post_path(@blog_post) if user_signed_in? %>
        <% end %>
      </div>

      <img<%= image_tag @blog_post.cover_image if @blog_post.cover_image.present? %>>
    </div>

    <div class="container">
      <p><%=@blog_post.content %></p>
    </div>

    <div class="author d-grid">

      <div class="author-image-box">
        <%= image_tag "img-2.jpeg", class: "article-image"%>
      </div>

      <div class="author-about">
        <h3 class="author-name"> Author Name </h3>
        <p> Something interesting about author of the current article. Something interesting about author of the current article. </p>
      </div>
    </div>
  </div>
</section>

<% if @blog_post.published? %>
  <h2>Comments: </h2>
  <% @blog_post.comments.each do |comment| %>
    <p>
      <strong>
        <%= comment.user.email %><%= comment.user.admin? ? " (Admin)" : "" %>:
      </strong>
      <%= comment.body %>
    </p>
    <% if user_signed_in? && (comment.user == current_user || current_user&.admin?) %>
      <%= link_to 'Delete', [@blog_post, comment],
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this comment?" } %>
    <% end %>
    <!--  blog_post_comment_path(comment.blog_post, comment) equals to [@blog_post, comment] -->
  <% end %>

  <% if user_signed_in? %>
    <%= form_for [@blog_post, Comment.new] do |f| %>
      <div>
        <%= f.label :body %><br>
        <%= f.text_area :body %>
      </div>
      <div>
        <%= f.button "Add Comment" %>
      </div>
    <% end %>
  <% else %>
    <p>You need to <%= link_to 'log in', new_user_session_path %> to comment.</p>
  <% end %>
<% end %>