<header class="header" id="header">
  <nav class="navbar container">
    <a href="<%=root_path%>" class="logo">BlogSample</a>

    <div class="menu" id="menu">
      <ul class="list">
        <li class="list-item">
          <a href="<%=root_path%>" class="list-link current">Home</a>
        </li>
        <li class="list-item">
          <a href="<%=categories_path%>" class="list-link">Categories</a>
        </li>
        <li class="list-item">
          <a href="<%=reviews_path%>" class="list-link">Reviews</a>
        </li>
        <li class="list-item">
          <a href="<%=contact_path%>" class="list-link">Contact</a>
        </li>

        <%if user_signed_in?%>

          <% if current_user.admin? %>
            <li class="list-item">
              <a href="<%=new_blog_post_path%>" class="list-link">New post</a>
            </li>
          <%end %>

          <li class="list-item">
            <a href="<%=edit_user_registration_path%>" class="list-link">Profile</a>
          </li>

          <li class="list-item">
            <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "list-link" %>
          </li>
        <% else %>

          <li class="list-item">
            <a href="<%=new_user_session_path%>" class="list-link screen-lg-hidden">Log in</a>
          </li>

          <li class="list-item">
            <a href="<%=new_user_registration_path%>" class="list-link screen-lg-hidden">Sign up</a>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="list list-right">
      <button class="btn place-items-center" id="theme-toggle-btn">
        <i class="ri-sun-line sun-icon"></i>
        <i class="ri-moon-line moon-icon"></i>
      </button>

      <button class="btn place-items-center" id="search-icon">
        <i class="ri-search-line"></i>
      </button>

      <button class="btn place-items-center screen-lg-hidden menu-toggle-icon" id="menu-toggle-icon">
        <i class="ri-menu-3-line open-menu-icon"></i>
        <i class="ri-close-line close-menu-icon"></i>
      </button>

      <% if not user_signed_in? %>
        <a href="<%=new_user_session_path%>" class="list-link screen-sm-hidden">Log in</a>
        <a href="<%=new_user_registration_path%>" class="btn sign-up-btn fancy-border screen-sm-hidden">
          <span>Sign up</span>
        </a>
      <% end %>

    </div>
  </nav>
</header>

<div class="search-form-container container" id="search-form-container">

  <div class="form-container-inner">
    <form action="" class="form">
      <input type=text class="form-input" placeholder="What are looking for?">
      <button class="btn form-btn" type="submit">
        <i class="ri-search-line"></i>
      </button>
    </form>
    <span class="form-note"> Or press ESC to close. </span>
  </div>

  <button class="btn form-close-btn place-items-center" id="form-close-btn">
    <i class="ri-close-line"></i>
  </button>
</div>