<!DOCTYPE html>
<html lang=en>
  <head>
    <title>BlogSample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Flash messages for Devise gem -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div>
      <% if user_signed_in? %>
        <%#= link_to "Profile", edit_user_registration_path %>
        <!-- Line above is available only in case :registerable is true -->
        <%= link_to "New post", new_blog_post_path %>
        <%= button_to "Log out", destroy_user_session_path, method: :delete %>
      <%else %>
        <%= link_to "Log In", new_user_session_path %>
        <%#= link_to "Sign Up", new_user_registration_path %>
        <!-- Return :registerable to User model and uncomment line above in order to add ability to sign up -->
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
